@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  height: 100vh;
  background-color: #0a1214;
}

#root {
  height: 100%;
  background-color: #0a1214;
}

.trashcan {
  z-index: 5000;
}

.autocomplete {
  text-transform: capitalize;
}

/* Loading Animation */
