* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Istok Web", sans-serif;
}

body {
  min-height: 100vh;
  height: 100vh;
  background-color: #f5fef9;
}

#root {
  height: 100%;
}

.trashcan {
  z-index: 5000;
}
