@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
}