@keyframes dropAndRotateAnimationMeat {
  0% {
    transform: translate(-50%, -100%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 100vh) rotate(360deg);
    opacity: 1;
  }
}

.meat-container {
  width: 128px;
  height: 128px;
  position: fixed;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  animation: dropAndRotateAnimationMeat 7s ease-in infinite;
  animation-delay: 2s;
}

.meat-container img {
  width: 100%;
}
@keyframes moveLeftToCenter {
  0% {
    transform: translate(calc(-100vw + 60px));
  }
  100% {
    transform: translateX(0);
  }
}

.meat2-container {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  animation: moveLeftToCenter 5s linear infinite;
}
.meat2-container img {
  width: 100%;
}

.hamburger-container {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
  animation: moveCenterToRight 5s linear infinite;
  animation-delay: 5s;
}
.hamburger-container img {
  width: 100%;
}
@keyframes moveCenterToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
