@keyframes dropAndRotateAnimationMoney {
  0% {
    transform: translate(-50%, -100%) rotate(0deg);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, 100vh) rotate(360deg);
    opacity: 1;
  }
}

.money-container2 {
  width: 128px;
  height: 128px;
  position: fixed;
  z-index: -99999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: dropAndRotateAnimationMoney 7s linear infinite;
}

.money-container2 img {
  width: 100%;
}
